<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Handle Bars</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <h1>Profile of {{name}}</h1>
    <p>Name:<strong>{{name}}</strong></p>
    <p>Lastname:<strong>{{lastname}}</strong></p>
  </body>
</html>
